.radiobutton {
  display: inline-block;
  position: relative;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
  
  input[type="radio"] {
    // hide the real radio button
    position: absolute;
    left: -9999px;
    z-index: -9999;
    visibility: hidden;
    
    & + label {
      padding: 2px;
      padding-left: 30px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      color: #71777B;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid #C5C5C5;
        background-color: #ffffff;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 6px;
        margin-left: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: none;
      }
    }
    
    &:active,
    &:focus {
      outline: 1px dashed $price-gradient-to;
    }
    
    // selected
    &:checked + label {
      &:before {
        border-color: $price-gradient-from;
        border-width: 2px;
        
      }
      &:after {
        content: "";
        background: -webkit-linear-gradient(right, $price-gradient-to, $price-gradient-from);
        transition: all 75ms ease-in;
      }
    }
    
  } 
}


