/* 
* COLORS
*/
$white: #ffffff;
$black: #71777B;
$grey: #FBFBFB;


$primary-color: #12436D;
$secondary-color: #12436D;;
$tertirary-color: #12436D;;


$hero-gradient-to:  #12436D;
$hero-gradient-from:#4C7CA6;

$price-gradient-to:  #12436D;
$price-gradient-from: #4C7CA6;

$form-background: #FAFAFA;
$form-label-color: #AEAEAE;
$input-border-color: #C5C5C5;

// $button-gradient-to: #77D3FF;
// $button-gradient-from: #6B9AE8;

/* 
* TYPOGRAPHY
*/
$primary-font: 'droid_sansregular';
$secondary-font: 'droid_sansbold';

/* 
* INDEX
*/
$index-under: -1;
$index-upper: 5;